<h1>Listing forums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Vulgar</th>
    <th>User</th>
    <th>Private</th>
    <th>Group</th>
    <th>Op</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.title %></td>
    <td><%= forum.vulgar %></td>
    <td><%= forum.user_id %></td>
    <td><%= forum.private %></td>
    <td><%= forum.group_id %></td>
    <td><% Op.find_all_by_forum_id(forum.id).each do |op| %>
			 | <%= link_to "#{op.user.username}", op.user %> | 
			<% end %></td>
    <td><%= forum.active %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum', new_forum_path %>
