<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @forum.title %>
</p>

<p>
  <b>Vulgar:</b>
  <%= @forum.vulgar %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@forum.user_id).username %>
</p>

<p>
  <b>Private:</b>
  <%= @forum.private %>
</p>

<p>
  <b>Group:</b>
  <%= @forum.group_id %>
</p>

<p>
  <b>Op:</b>
  <% Op.find_all_by_forum_id(@forum.id) do |op| %>
		<%= link_to "#{op.user.username}", user %>
	<% end %>
</p>

<p>
  <b>Active:</b>
  <%= @forum.active %>
</p>

<% Topic.find_all_by_forum_id(@forum.id) do |topic| %>
| <%= link_to "#{topic.title}", topic %> | <br />
<% end %>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
