<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Forum</th>
    <th>Vulgar</th>
    <th>Private</th>
    <th>Group</th>
    <th>Op</th>
    <th>Active</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.user_id %></td>
    <td><%= topic.forum_id %></td>
    <td><%= topic.vulgar %></td>
    <td><%= topic.private %></td>
    <td><%= topic.group_id %></td>
    <td><%= topic.op_id %></td>
    <td><%= topic.active %></td>
    <td><%= topic.tag_id %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
