<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Group</th>
    <th>Admin</th>
    <th>Op</th>
    <th>Age</th>
    <th>Active</th>
    <th>Hide Vulgar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.group_id %></td>
    <td><%= user.admin %></td>
    <td><%= user.op_id %></td>
    <td><%= user.DOB %></td>
    <td><%= user.active %></td>
    <td><%= user.hide_vulgar %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
