<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Hide vulgar:</b>
  <%= @user.hide_vulgar %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.DoB %>
</p>

<p>
  <b>Group:</b>
  <%= @user.group_id %>
</p>

<p>
  <b>Op to:</b>
  <% Op.find_all_by_user_id(@user.id).each do |op| %>
		| <%= link_to "#{op.forum.title}", forum_path(op.forum) %> | 
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
