<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1 id="welcome"><%= "Welcome #{current_user.username}" if signed_in? %> </h1>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<%= yield %>

</body>
</html>
